<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067667317386-l0r3qcmichbrg9vro56s25vua43pae5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067667317386-l0r3qcmichbrg9vro56s25vua43pae5q</string>
	<key>API_KEY</key>
	<string>AIzaSyAn6jSvkj7jHgB5EA07HY2r_PkZ0oNjGvA</string>
	<key>GCM_SENDER_ID</key>
	<string>1067667317386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bionmed.bionmed</string>
	<key>PROJECT_ID</key>
	<string>bionmed-f09dc</string>
	<key>STORAGE_BUCKET</key>
	<string>bionmed-f09dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067667317386:ios:fee13df2a631573c27c373</string>
</dict>
</plist>